<% layout('layouts/boilerplate') %>

<div>
<img src="https://thumbs.dreamstime.com/b/walking-bigfoot-drawing-comic-style-cartoon-mythical-creature-vector-clip-art-illustration-95029530.jpg" alt="">
</div>

<div>You got lost in the wilderness. Follow Bigfoot back to camp.</div>
<button class = "btn btn-lrg btn-success" onclick=window.location.href="/yelpcamp/campgrounds">Back to Camp</button>