<% layout('layouts/boilerplate') %>

<div>
<img src="https://thumbs.dreamstime.com/b/walking-bigfoot-drawing-comic-style-cartoon-mythical-creature-vector-clip-art-illustration-95029530.jpg" alt="">
</div>

<div>You're definitely lost. Bigfoot will guide you back to camp.</div>