<% layout('layouts/boilerplate') %>
<div class="ui one column stackable center aligned page grid">
  <div class="column twelve wide">

    <h1>Register</h1>

    <form action="">

      <div class="form-group">
        <input class="form-control" type="text" placeholder="Username" name="username">
      </div>

      <div class="form-group">
        <input class="form-control" type="password" placeholder="Password" name="password">
      </div>

      <div class="ui one column stackable center aligned page grid">
        <div class="column six wide">
          <div class="form-group">
            <button class="btn btn-lg btn-primary btn-block">Register</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>

<button onclick=window.location.href="/yelpcamp/campgrounds">Homepage</button>