<% layout('layouts/boilerplate') %>


<div class="top ui centered container">
  <header class="jumbotron">
    <h1><i class="fas fa-campground"></i> Welcome to YelpCamp</h1>
    <p>View our handpicked campgrounds from all over the world!</p>
    <p>
      <button class="btn btn-primary btn-large" onclick=window.location.href="/yelpcamp/campgrounds/new">Add New
        Campground</button>
    </p>
  </header>
</div>

<div id="card-list" class="ui container">

  <div class="ui grid">
    <% for(let campground of allCamps) {%>
    <div id="camps" class="col-xs-6 col-sm-4 col-md-3 col-lg-3 ">

      <div class="thumbnail">
        <div class="preview">
          <img src="<%= campground.image %>">
        </div>
        <div class="caption">
          <h5> <%= campground.title %> </h4>
        </div>
        <p class="more">
          <button id="more" class="btn btn-primary"
            onclick=window.location.href="/yelpcamp/campgrounds/<%= campground._id %>">More Info</button>
        </p>

      </div>
    </div>

    <%}%> 
  </div>

</div>



  