<% layout('layouts/boilerplate') %>

<div class="top ui one column stackable center aligned page grid">
  <div class="column twelve wide">
    <h2>Add a Campground</h2>
    <div class="form">

      <form action="/yelpcamp/campgrounds" method="POST" novalidate class="validated-form">

        <div class="form-group">
          <input class="form-control" type="text" placeholder="Title" name="campground[title]" required>
          <div class="valid-feedback">Looks good!</div>
        </div>

        <div class="form-group">
          <input class="form-control" type="text" placeholder="City and State" name="campground[location]" required>
          <div class="valid-feedback">Looks good!</div>
        </div>

        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text">$</span>
          </div>
          <input type="text" name="campground[price]" class="form-control" aria-label="Amount (to the nearest dollar)" required>
          <div class="valid-feedback">Looks good!</div>
          <div class="input-group-append">
            <span class="input-group-text">.00</span>
          </div>
        </div>

        <div class="form-group">
          <input class="form-control" type="text" placeholder="Image url" name="campground[image]" required>
          <div class="valid-feedback">Looks good!</div>
        </div>

        <div class="form-group">
          <input class="form-control" type="text" placeholder="Description" name="campground[description]" required>
          <div class="valid-feedback">Looks good!</div>
        </div>

        <div class="ui one column stackable center aligned page grid">
          <div class="column six wide">
            <div class="form-group">
              <button class="btn btn-lg btn-primary ">Add Campground</button>
            </div>
          </div>
        </div>

      </form>
    </div>

  </div>
</div>
<button class="btn btn-lg btn-success" onclick=window.location.href="/yelpcamp/campgrounds">Go Back</button>






