/* *{
  border: 1px solid red;
} */

.more, .caption, .preview{
  display: flex;
  justify-content: center;
} 


#camps{
  padding: 0.5em;
  /* border: 1px solid red; */
}



/* NAV BAR */
#navbarText{
  /* border: 1px solid red !important; */
  float: right !important;
}

nav{
  margin: 0 10px;
  padding: 0;
  height: 40px !important;
  /* border: 1px solid red !important; */
}

.navbar-brand{
  /* border: 1px solid red !important; */

  font-size: 1.3em !important;
  margin: 0.5em !important;
  padding: 15px 0 0 0 !important;
}

/* header.jumbotron {
  margin-top: 5em !important;;
} */



/* SHOW PAGES */
#map img {
  display: block;
  border: 1px solid red;
  height: 300px;
  /* The height is 400 pixels */
  width: 300px;
  /* The width is the width of the web page */
}
.inner {
  float: left;
  padding: 5px;
}

/* Clear floats after image containers */
.outer::after {
  content: "";
  clear: both;
  display: table;
}

#rating{
  width: 50%;
}



